<!DOCTYPE html>
<html>
    <head>
        <!-- remember to route relative to index.php  -->
        <script type="text/javascript" src="./assets/js/homepage.js"></script>
        <link rel="stylesheet" href="./assets/styles/homepage.css">
       
        <link rel="icon" type="image/x-icon" href="./assets/pictures/favicon.ico">
    </head>

    <body>

            <section class="banner">
                <div class="banner-video">
                  <video autoplay loop muted>
                    <source src="./assets/pictures/banner-image.mp4" type="video/mp4">
                  </video>
                </div>
                <div class="banner-text">
                  <h1>Your text here</h1>
                  <p>Your subtext here</p>
                </div>
              </section>

    </body>
</html>

